<h2>New Band Page</h2>

<form action="<%= bands_url %>" method="POST">
  <%= auth_token %>
  
  <label for="band_name">Name: </label>
  <input type="text" id="band_name" name="band[name]" value="<%= @band.name %>">
  
  <input type="submit">
</form>